<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!-- DB関係 -->
  <add key="common_server" value="192.168.20.42"/>
  <add key="common_catalog" value="SNTDB"/>
  <add key="common_user" value="sa"/>
  <add key="common_password" value="JF-oita"/>
  <add key="common_timeout" value="5"/>
  
  <!-- 帳票関連 -->
	<add key="common_dir_bip_exe" value="C:\BIP2"/>
	<add key="common_dir_assets" value="C:\BIP2\Assets"/>
  <add key="common_dir_data" value="C:\BIP2\data"/>
  <add key="common_dir_assets_server" value="\\192.168.20.42\Assets"/>

  <!-- システム動作用独自設定 -->
  <add key="common_mngdb_catalog" value="MNGDB"/><!-- 共通DBのカタログ。アクセス接頭語(***.dbo.オブジェクト名)として使用。 -->
  <add key="common_date_system_start" value="1900/01/01"/><!-- システム稼働開始日。これより以前の日付のデータは存在しない。 -->
  <add key="common_date_system_replace" value="2014/10/01"/><!-- システムリプレイス日。オープン化後の新規登録データはこの日付以降となる。 -->
</appSettings>
