<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings file="_SystemSettings.config">
    <add key="title" value="神徒管理システム"/>
    <add key="total" value="1"/>
    <add key="logoff" value="MENU_APP_LOGON.EXE"/>
    <add key="back" value=""/>
    
    <!-- 神徒管理システム -->
    <add key="tab01" value="神徒管理" />
    <add key="launcher0111" value="1,神徒情報機能,," />
    <add key="launcher0112" value="2,神徒入力,SNT_E_SHINTO.exe,3" />
		<add key="launcher0113" value="2,組織入力,SNT_E_BELONG.exe,3" />
		<add key="launcher0114" value="2,資格入力,SNT_E_LICENSE.exe,3" />
		<add key="launcher0115" value="2,役職入力,SNT_E_POSITION.exe,3" />
		<add key="launcher0116" value="2,神徒チェックリスト,SNT_L_CHECK_SHINTO.exe,3" />
		<add key="launcher0117" value="2,神徒台帳,SNT_L_LEDGER_SHINTO.exe,3" />

		<add key="launcher0121" value="1,システム管理,," />
    <add key="launcher0122" value="2,一括変更（組織）,SNT_B_BELONG.exe,3" />
		<add key="launcher0123" value="2,一括変更（資格）,SNT_B_LICENSE.exe,3" />
		<add key="launcher0124" value="2,一括変更（組織個別）,SNT_B_BELONG_LINE.exe,3" />
		<add key="launcher0125" value="2,一括変更（資格個別）,SNT_B_LICENSE_LINE.exe,3" />
		<add key="launcher0126" value="2,一括変更リスト,SNT_L_CHANGE.exe,3" />

		<add key="launcher0131" value="1,取込,," />
		<add key="launcher0132" value="2,郵便番号取込,SNT_B_POST.exe,3" />
		<add key="launcher0133" value="2,神徒データ取込,SNT_B_SHINTO.exe,3" />

		<add key="launcher0141" value="1,マスタ機能,," />
		<add key="launcher0142" value="2,教会マスタメンテナンス,SNT_M_CHURCH.exe,3" />
		<add key="launcher0143" value="2,組織マスタメンテナンス,SNT_M_GOSPEL.exe,3" />
		<add key="launcher0144" value="2,班マスタメンテナンス,SNT_M_GROUP.exe,3" />
		<add key="launcher0145" value="2,ユーザーマスタメンテナンス,SNT_M_USER.exe,3" />
		<add key="launcher0146" value="2,職業マスタメンテナンス,SNT_M_JOB.exe,3" />

	</appSettings>
</configuration>
